body {
  font-family: 'Poppins', sans-serif;
}
#heroGrid{
  margin: 0px 5%;
  display: grid;
  height: 70vh;
  grid-template-rows: 75% 25%;
  grid-template-columns: 75% 25%;
  grid-template-areas:
  "featuredProduct secondaryProduct"
  "featuredProduct CTA";
  }
#featuredProduct {
  grid-area: featuredProduct;
  background-image:url("/Users/folake/Desktop/VS Code/CSS Grid/Extended-Grid/images/furniture1.png");
}
#secondaryProduct {
  grid-area: secondaryProduct;
  background-image: url("/Users/folake/Desktop/VS Code/CSS Grid/Extended-Grid/images/furniture2.png");
}
#CTA{
  grid-area: CTA;
  background-image: url("/Users/folake/Desktop/VS Code/CSS Grid/Extended-Grid/images/woodbg.png");
  justify-content: 0px 5%;
  cursor: pointer;
}
.heroGridArea{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display:flex;
  position: relative;
}
#navBar {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
}
#navBar h1 {
  width: 25%;
  font-weight: 500;
}
#navigation {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
}
#navigation p {
  cursor: pointer;
  text-decoration: none;
}
.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
}
.icons img {
  margin: 15px;
  cursor: pointer;
}
.highlight {
  color: #FF6200;
  font-weight: 700;
}

/* Typography CSS */

h2 {
  font-size: 60px;
  margin: 0px 0px;
  color: #FF6200;
}

h3 {
  font-size: 32px;
  font-weight: 300;
  margin: 0px 0px;
}

h4 {
  color: white;
  font-weight: 400;
  font-size: 22px;
}

#headline{
  border: 5px #FF6200;
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  top: 100px;
  right:-50px;
  padding: 25px;
  max-width: 550px;
  z-index: 100;
}
#headline p {
  max-width: 350px;
  font-size: 16px;
  font-weight: 300;
  margin: 0px 0px;
  color: #636364;
}
